body {
  font-family: "Vollkorn", Georgia, serif;
  background-color: var(--cor-0);
}

img,
figure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-padrao);
}

/* GRID GERAL*/
.estrutura-grid {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}

@media (max-width: 1200px) {
  .estrutura-grid {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav anuncios anuncios"
      "footer footer footer";
  }
}

@media (max-width: 800px) {
  .estrutura-grid {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "anuncios"
      "footer";
  }
}
