.citacao,
.atributos {
  align-self: start;
  padding: var(--medium-space);
  border-radius: var(--border-radius-padrao);
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background-image: var(--gradiente-principal);
}
.citacao p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: var(--cor-paragrafo);
}

.atributos li {
  color: var(--cor-paragrafo);
  font-family: Courier, monospace;
  font-size: 1.125rem;
  padding: 15px;
}

.atributos li + li {
  border-top: 2px solid var(--cor-primaria-2);
}
